<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="container">
    <!--<p th:text="${locationstats}">Welcome to our grocery store!</p>-->

    <table class="table table-dark">
        <tr>
            <th>States</th>
            <th>country</th>
            <th>total no of cases</th>
            <th>Change from previous day</th>
        </tr>

        <!--locationstats is the list which contains locationstat instance
    at each of the index . Note: this is for loop for real time updates of data
    -->
        <tr th:each="india_stats : ${india_data}">
            <td th:text="${india_stats.states}">Onions</td>
            <td th:text="${india_stats.country}"></td>
            <td th:text="${india_stats.latest_stats}"></td>
            <td th:text="${india_stats.difffromprevday}"></td>
        </tr>
    </table>

</div>
</body>
</html>